

setwd('~/Desktop/scripts/EpiSignal/') 
source("EpiSignalEM.R")
